<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapperPackage}.${table.moduleNameCapi}Mapper">
	<resultMap type="${table.moduleName}Entity" id="${table.moduleName}Map" autoMapping="true">
	<#list table.fields as key> 
		<#if key.isPrimaryKey = "1"> 
			<id column="${key.field}" property="${key.attribute}" />
		<#else> 
			<result column="${key.field}" property="${key.attribute}" />
		</#if>
	</#list>
	</resultMap>
	
	<sql id="select_example_where">
	    <where>
	      <foreach collection="criteriaList" item="criteria" separator="or">
	        <if test="criteria.valid">
	          <trim prefix="(" prefixOverrides="and" suffix=")">
	            <foreach collection="criteria.criteria" item="criterion">
	              <choose>
	                <when test="criterion.noValue">
	                  and ${r"${criterion.condition}"}
	                </when>
	                <when test="criterion.singleValue">
	                  and ${r"${criterion.condition}"} ${r"#{criterion.value}"}
	                </when>
	                <when test="criterion.betweenValue">
	                  and ${r"${criterion.condition}"} ${r"#{criterion.value}"} and ${r"#{criterion.secondValue}"}
	                </when>
	                <when test="criterion.listValue">
	                  and ${r"${criterion.condition}"}
	                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
	                    ${r"#{listItem}"}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	          </trim>
	        </if>
	      </foreach>
	    </where>
  	</sql>
	<sql id="update_example_where">
	    <where>
	      <foreach collection="example.criteriaList" item="criteria" separator="or">
	        <if test="criteria.valid">
	          <trim prefix="(" prefixOverrides="and" suffix=")">
	            <foreach collection="criteria.criteria" item="criterion">
	              <choose>
	                <when test="criterion.noValue">
	                  and ${r"${criterion.condition}"}
	                </when>
	                <when test="criterion.singleValue">
	                  and ${r"${criterion.condition}"} ${r"#{criterion.value}"}
	                </when>
	                <when test="criterion.betweenValue">
	                  and ${r"${criterion.condition}"} ${r"#{criterion.value}"} and ${r"#{criterion.secondValue}"}
	                </when>
	                <when test="criterion.listValue">
	                  and ${r"${criterion.condition}"}
	                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
	                    ${r"#{listItem}"}
	                  </foreach>
	                </when>
	              </choose>
	            </foreach>
	          </trim>
	        </if>
	      </foreach>
	    </where>
  	</sql>
	<insert id="save" parameterType="${entityPackage}.${table.moduleNameCapi}Entity">
		insert into ${table.tableName} (
	  	<#list table.fields as key> 
			${key.field}<#if key_has_next>,</#if>
		</#list>
	    )values (
	    <#list table.fields as key>
	        ${r"#{"}${key.attribute}${r"}"}<#if key_has_next>,</#if>
		</#list>
	    )
	</insert>
	
	<insert id="saveSelective" parameterType="${entityPackage}.${table.moduleNameCapi}Entity">
		insert into ${table.tableName} (
	  	<#list table.fields as key> 
	  	   <if test="${key.attribute} != null">
			${key.field}<#if key_has_next>,</#if>
		   </if>
		</#list>
	    )values (
	    <#list table.fields as key> 
	      <if test="${key.attribute} != null">
	       ${r"#{"}${key.attribute}${r"}"}<#if key_has_next>,</#if>
		   </if>
		</#list>
	    )
	</insert>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 delete from ${table.tableName}
         where <#list table.fields as key><#if key.isPrimaryKey = "1"> ${key.field} = ${r"#{"}${key.attribute}${r"}"}</#if></#list>
	</delete>
	
	<delete id="deleteByExample" parameterType="${entityPackage}.${table.moduleNameCapi}Example">
		 delete from ${table.tableName} 
    <if test="_parameter != null">
      <include refid="select_example_where" />
    </if>
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="${entityPackage}.${table.moduleNameCapi}Entity">
		update 	${table.tableName} set 
		<#list table.fields as key> 
			<#if key.isPrimaryKey != "1">
			${key.field} = ${r"#{"}${key.attribute}${r"}"}<#if key_has_next>,</#if>
			</#if>
		</#list>
		where <#list table.fields as key><#if key.isPrimaryKey = "1"> ${key.field} = ${r"#{"}${key.attribute}${r"}"}</#if></#list>
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="${entityPackage}.${table.moduleNameCapi}Entity">
		update 	${table.tableName}
		<set> 
		<#list table.fields as key> 
		<#if key.isPrimaryKey != "1">
	  	   <if test="${key.attribute} != null">
			${key.field} = ${r"#{"}${key.attribute}${r"}"},
		   </if>
		</#if>
		</#list>
        </set>
		where <#list table.fields as key><#if key.isPrimaryKey = "1"> ${key.field} = ${r"#{"}${key.attribute}${r"}"}</#if></#list>
	</update>
	
	<update id="updateByExample" parameterType="map">
		update 	${table.tableName} set 
		<#list table.fields as key> 
		<#if key.isPrimaryKey != "1">
			${key.field} = ${r"#{entity."}${key.attribute}${r"}"}<#if key_has_next>,</#if>
		</#if>
		</#list>
    <if test="_parameter != null">
      <include refid="update_example_where" />
    </if>
	</update>

	<update id="updateByExampleSelective" parameterType="map">
		update 	${table.tableName}
        <set> 
		<#list table.fields as key> 
		<#if key.isPrimaryKey != "1">
	  	   <if test="entity.${key.attribute} != null and entity.${key.attribute} != 'null'">
			${key.field} = ${r"#{entity."}${key.attribute}${r"}"},
		   </if>
		</#if>
		</#list>
		</set>
    <if test="_parameter != null">
      <include refid="update_example_where" />
    </if>
	</update>

	<select id="countByExample"  parameterType="${entityPackage}.${table.moduleNameCapi}Example" resultType="java.lang.Integer">
	    select count(*) from ${table.tableName}
    <if test="_parameter != null">
      <include refid="select_example_where" />
    </if>
	</select>
	
	<select id="queryByPrimaryKey"  parameterType="java.lang.String" resultType="${entityPackage}.${table.moduleNameCapi}Entity">
	    select *		
 		from ${table.tableName}
        <#list table.fields as key><#if key.isPrimaryKey = "1"> where ${key.field} = ${r"#{"}${key.attribute}${r"}"}</#if></#list>
	</select>
	
	<select id="queryByExample"  parameterType="${entityPackage}.${table.moduleNameCapi}Example" resultType="${entityPackage}.${table.moduleNameCapi}Entity">
	    select 
		<choose>
            <when test="columnStr != null and columnStr != 'null'"> ${r"${columnStr}"}</when>
            <otherwise> * </otherwise>
         </choose>	
 		from ${table.tableName}
    <if test="_parameter != null">
      <include refid="select_example_where" />
    </if>
	</select>
</mapper>